@use "variables" as *;

.anima {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.limite {
  margin-inline: auto;
  width: min(100% - 5rem, 1920px);
  @include cel {
    width: min(100% - 2.5rem, 1920px);
  }
}
.antes-footer {
  transform: translateY(20%);
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .logo img {
    width: 100%;
    height: auto;
    @include cel {
      flex: 1;
      padding: 1rem;
    }
  }
  ul {
    display: inherit;
    align-items: center;
    @include cel {
      border-top: solid 1px $azul;
      flex: 1;
      justify-content: center;
    }
    li {
      padding: 2rem;
      @include cel {
        padding: 1rem 1rem;
      }
    }
  }
}
@mixin botones($fondo) {
  background: $fondo;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: $radio;
  display: inline-block;
  @extend .anima;
  &:hover {
    background: $azul;
    font-weight: normal;
  }
}
.btn {
  margin-top: 2rem;
  @include botones($naranja);
}

.btnVerde {
  @include botones($verde);
}

footer {
  position: relative;
  background: url(./public/fondo-footer.webp) $naranja;
  padding: 20% 0 3rem;
  margin-top: -17%;
  z-index: -2;

  @include cel {
    margin-top: -30%;
    padding: 40% 0 2.7rem;
  }
  #footer {
    background: $azul;
    border-radius: $radio;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    position: relative;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    img {
      width: 15%;
      height: auto;
      @include cel {
        width: 60%;
      }
    }
    ul {
      display: inherit;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      a {
        font-weight: lighter;
        color: #fff;
      }
    }
    hr {
      width: 100%;
    }
    #derechos {
      color: #fff;
      font-size: 0.7rem;
    }
    #pez-pie {
      position: absolute;
      bottom: calc(50% - 60px);
      width: min(120px, 1920px);
      @include cel {
        width: min(110px, 1920px);
        bottom: calc(30% - 60px);
      }
    }
  }
}
#filtro {
  display: flex;
  flex-wrap: wrap;
  background: $azul;
  padding: 2rem;
  border-radius: $radio;
  margin-top: 2rem;
  h4 {
    flex: 1 0 100%;
    color: $naranja;
    text-align: center;
    font-weight: bold;
  }
  hr {
    flex: 1 0 100%;
    background: $verde;
  }
  ul {
    justify-content: space-evenly;
    flex: 1 0 100%;
    flex-wrap: wrap;
    gap: 2rem;
    display: inherit;
    li {
      display: inherit;
      align-items: center;
      @include cel {
        font-size: 0.8rem;
        flex-wrap: wrap;
        flex: 0 0 39%;
        justify-content: center;
        gap: 0.6rem;
        text-align: center;
      }
    }
  }
  img {
    width: 50px;
    padding: 0.5rem;
  }
  a {
    color: #fff;
  }
}

#ofertas {
  .bandeja {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    margin-top: 2rem;
    padding: 0 2.5rem 2rem;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    &::-webkit-scrollbar {
      width: 10px;
      height: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: $azul;
      border-radius: $radio;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    @include cel {
      grid-auto-columns: 80%;
      padding-right: 1.2rem;
    }
    .oferta {
      scroll-snap-align: end;
      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        position: relative;
        z-index: -1;
      }
      color: #fff;

      h3 {
        color: $naranja;
        font-weight: bold;
      }
      p {
        padding: 1rem 0;
      }
      .bandeja-oferta {
        background: $azul;
        border-radius: $radio;
        padding: 1.5rem;
        margin-top: -3%;
      }
    }
  }
}

#hoteles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2.5rem 0;
  .hotel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    max-width: 30%;
    flex: 1 0 30%;

    img {
      grid-column: 1 / 2 span;
      grid-row: 1 / -1;
      aspect-ratio: 8 / 14;
      object-fit: cover;
      position: relative;
      z-index: -1;
    }

    .bandeja {
      grid-column: 2 / -1;
      grid-row: 2;
      padding: 2rem;
      border-radius: $radio;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: $naranja;
        font-size: 1.3rem;
      }
      p {
        padding-bottom: 1rem;
      }
      background: $beige;
    }

    @include cel {
      max-width: 100%;
      flex: 1 0 100%;
     
      &:nth-child(2n + 2){
        img {
          grid-column: 2 / -1;
        }
        .bandeja {
          grid-column: 1 / 2 span;
        }
      }

      // flex: 1 0 50%!important;
    }

  }
}
