@use "variables" as *;

.anima {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.limite {
  margin-inline: auto;
  width: min(100% - 5rem, 1920px);
  @include cel {
    width: min(100% - 2.5rem, 1920px);
  }
}
.antes-footer {
  transform: translateY(20%);
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .logo img {
    width: 100%;
    height: auto;
    @include cel {
      flex: 1;
      padding: 1rem;
    }
  }
  ul {
    display: inherit;
    align-items: center;
    @include cel {
      border-top: solid 1px $azul;
      flex: 1;
      justify-content: center;
    }
    li {
      padding: 2rem;
      @include cel {
        padding: 1rem 1rem;
      }
    }
  }
}
@mixin botones($fondo) {
  background: $fondo;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: $radio;
  display: inline-block;
  @extend .anima;
  &:hover {
    background: $azul;
    font-weight: normal;
  }
}
.btn {
  margin-top: 2rem;
  @include botones($naranja);
}

.btnVerde {
  @include botones($verde);
}





#hoteles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2.5rem 0;
  .hotel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    max-width: 30%;
    flex: 1 0 30%;

    img {
      grid-column: 1 / 2 span;
      grid-row: 1 / -1;
      aspect-ratio: 8 / 14;
      object-fit: cover;
      position: relative;
      z-index: -1;
    }

    .bandeja {
      grid-column: 2 / -1;
      grid-row: 2;
      padding: 2rem;
      border-radius: $radio;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: $naranja;
        font-size: 1.3rem;
      }
      p {
        padding-bottom: 1rem;
      }
      background: $beige;
    }

    @include cel {
      max-width: 100%;
      flex: 1 0 100%;
     
      &:nth-child(2n + 2){
        img {
          grid-column: 2 / -1;
        }
        .bandeja {
          grid-column: 1 / 2 span;
        }
      }

      // flex: 1 0 50%!important;
    }

  }
}
