@use "variables" as *;
@use "componentes" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

html {
  box-sizing: border-box;
  font-size: clamp(16px, 1.5vw, 22px);
  color: $gris;
  font-family: Montserrat;
  background: rgb(242, 238, 227);
  background: linear-gradient(180deg, $beige 0%, #ffffff 30%, #fff 50%, $beige 100%) no-repeat;
  scroll-behavior: smooth;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  position: relative;
 z-index: -3;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2 {
  padding: 1rem 0;
  font-weight: 700;
  line-height: .9em;
}
h1 {
  color: $azul;
  font-size: clamp(3em, 5vw, 90vw);
}
h2 {
  color: $verde;
  font-size: clamp(2em, 3vw, 60vw);
}
h3 {
  color: $verde;
  font-weight: bold;
  margin-bottom: 1rem;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $azul;
  font-weight: bold;
}
p{
  padding-bottom: 1.5rem;
}
a:hover,
.selected {
  font-weight: bold;
  color: $naranja;
  @extend .anima;
}

//contenedor
#hero {
  background: url(/fondo-palmas.webp) no-repeat;
  background-size: contain;
  background-position: top right;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  @include cel {
    .izq,
    .der {
      flex: auto !important;
    }
    .izq {
      order: 2 !important;
    }
    .der {
      order: 1 !important;
    }
  }

  .izq {
    flex: 1;
    display: inherit;
    justify-content: center;
    align-items: center;
    .bandeja {
      width: 90%;
    }
  }
  .der {
    display: inherit;
    flex: 1;
    justify-content: center;
  }
}

#zihua {
  padding: 5rem 0;
  .bandeja {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 0;
    img,
    .info {
      flex: 1;
    }
    @include cel{
      &:nth-child(2){
        img{
          order: 2;
        }
      }
    }
    .pez-zihua {
      position: absolute;
      top: -20%;
      left: 30%;
      transform: translateX(-50%);
      width: 250px;
      @include cel {
        left: 80%;
        width: 150px;
      }
    }
    .pez-zihua2 {
      @extend .pez-zihua;
      top: 70%;
      @include cel{
        left: 70%;
        top: 75%;
      }
    }
  }
}

label{
  color: $naranja;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}
input{
  border: none;
  background: $beige;
  padding:0.5rem .7rem;
  width: 100%;
}

.desactivado {
  opacity: 0.2;
  pointer-events: none;
}
#vuelos{
  span{
    color: $azul;
  }
  padding: 4rem 0 3rem 0;
  .bandeja{
    text-align: center;
  }
}