---
const {variable, estrellas, matriz} = Astro.props
---
<div id="amenidades" class="limite">
<div class="izq">
<div class="bandeja">

  <h3> {variable}  </h3>
  <h4>Hotel {estrellas} estrellas </h4>
  <ul>
    <!-- <slot />  -->
    {
      matriz.map(( lista, index ) => {
        return <li> {lista}</li> 
      } 
      )    
    }
  </ul>
  <a href="#reservaciones" class="btn">reserva ahora</a>
</div>
</div>
<div class="der">
<slot />
</div>
</div>


<style lang="scss">
  @import "../estilos/_variables.scss";
  
#amenidades{
  margin-top: $margen;
  display: flex;
  flex-wrap: wrap;
  h3{
    color: $naranja !important;
  }
  h4{
    color: $gris;
    font-weight: bolder;
    border-bottom: solid 1px $gris;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  li{
    list-style-type: circle;
  }
 
  @include cel {
    .izq{
      order: 2;
    }
    .der{
      border-left:none!important;
    }
  }
  .izq{
  
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .der{
    flex: 2;
    padding: 0 $margen;
    border-left: 1px solid $azul;
  }
  p{
      border: solid;
      padding-bottom: 6rem ;
    }
}
</style>
