---
const {variable, estrellas, matriz, whatsapp} = Astro.props
import { t } from "i18next";
---
<div id="amenidades" class="limite">
<div class="izq">
<div class="bandeja">

  <h3> {variable}  </h3>
  {estrellas ? <h4> {t("hoteles.Hotel")} : {estrellas} - { t("hoteles.estrellas")} </h4> : ""}
 
  <ul>
    <!-- <slot />  -->
    {
      matriz.map(( lista ) => {
        return <li> {lista}</li> 
      } 
      )    
    }
  </ul>
  {whatsapp ==="false" ? <a href="#contacto" class="btn">{t("hoteles.reserva")}</a> : <a href="#reservaciones" class="btn">{t("hoteles.reserva")}</a>}
  
</div>
</div>
<div class="der">
  <div class="bandeja">
    <slot />
  </div>
</div>
</div>


<style lang="scss">
  @import "../estilos/_variables.scss";
  
#amenidades{
  margin-top: $margen;
  display: flex;
  flex-wrap: wrap;
  h3{
    color: $naranja !important;
  }
  h4{
    color: $gris;
    font-weight: bolder;
    border-bottom: solid 1px $gris;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  li{
    list-style-type: circle;
  }
 
  @include cel {
    .izq{
      order: 2;
    }
    .der{
      border-left:none!important;
    }
  }
  .izq{
  
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .der{
    flex: 2;
    padding: 0 $margen;
    border-left: 1px solid $azul;
    display: flex;
    align-items: center;
  }
  p{
      border: solid;
      padding-bottom: 6rem ;
    }
}
</style>
