---

---

<div id="filtro" class="limite">
    <h4>Ordenar hoteles por:</h4>
    <hr>
    <ul>
<li>
    <img src="/star.png">
    <a href="#">
        categoría más alta
    </a>
</li>
<li>
    <img src="/swimming.png">
    <a href="#">
        cerca de la playa
    </a>
</li>
<li>
    <img src="/car.png">
    <a href="#">
        con estacionamiento
    </a>
</li>
<li>
    <img src="/air-conditioning.png">
    <a href="#">
        aire acondicionado
    </a>
</li>
    </ul>
</div>
