---
//footer
---

<footer>
    <div id="footer" class="limite">
        <img src="./public/pez-footer-hoteles-con-encanto.webp" alt="pez angel" id="pez-pie">
        <img src="./public/hoteles-con-encanto-logo-footer.svg" alt="Hoteles con encanto de zihuatanejo">
       <img src="./public/asociacion-hoteles-de zihuatanejo.webp" alt="Asociación Mexicana de Hoteles y Moteles de Zihuatanejo">
       <ul>
        <li><a href="#">Hoteles</a></li>
        <li><a href="#">Zihuatanejo</a></li>
        <li><a href="#">Ofertas de hoteles</a></li>
       </ul>
       <hr>
       <p id="derechos">Todos los derechos reservados</p>

    </div>
</footer>