---

---
<script>
  console.log("pie")
</script>
<footer>
    <div id="footer" class="limite">
        <img src="/pez-footer-hoteles-con-encanto.webp" alt="pez angel" id="pez-pie">
        <img src="/hoteles-con-encanto-logo-footer.svg" alt="Hoteles con encanto de zihuatanejo">
       <img src="/asociacion-hoteles-de zihuatanejo.webp" alt="Asociación Mexicana de Hoteles y Moteles de Zihuatanejo">
       <ul>
        <li><a href="#">Hoteles</a></li>
        <li><a href="#">Zihuatanejo</a></li>
        <li><a href="#">Ofertas de hoteles</a></li>
       </ul>
       <hr>
       <p id="derechos">Todos los derechos reservados</p>

    </div>
</footer>
<style lang="scss">
    @import "../estilos/_variables.scss";
    footer {
    position: relative;
    background: url(/fondo-footer.webp) $naranja;
    padding: 20% 0 3rem;
    margin-top: -17%;
    z-index: -2;
  
    @include cel {
      margin-top: -30%;
      padding: 40% 0 2.7rem;
    }
    #footer {
      background: $azul;
      border-radius: $radio;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      align-content: space-between;
      position: relative;
      gap: 2rem;
      padding: 2rem;
      flex-wrap: wrap;
      img {
        width: 15%;
        height: auto;
        @include cel {
          width: 60%;
        }
      }
      ul {
        display: inherit;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        a {
          font-weight: lighter;
          color: #fff;
        }
      }
      hr {
        width: 100%;
      }
      #derechos {
        color: #fff;
        font-size: 0.7rem;
      }
      #pez-pie {
        position: absolute;
        bottom: calc(50% - 60px);
        width: min(120px, 1920px);
        @include cel {
          width: min(110px, 1920px);
          bottom: calc(30% - 60px);
        }
      }
    }
  }
    
      </style>