---
// por ahora cale
---

<nav class="navbar limite">
    <div class="logo">
        <img src="/hoteles-con-encanto-logo.svg" alt="Hoteles con encanto de zihuatanejo">
    </div>
    <ul>
        <li><a href="#" class="selected">Hoteles</a></li>
        <li><a href="#">Zihuatanejo</a></li>
        <li><a href="#">Ofertas</a></li>
    </ul>
</nav>