---
---

<nav class="navbar limite">
    <div class="logo">
        <a href="/">
            <img src="/hoteles-con-encanto-logo.svg" alt="Hoteles con encanto de zihuatanejo">
        </a>
    </div>
    <ul>
        <li><a href="/#hoteles" class="selected">Hoteles</a></li>
        <li><a href="/#zihua">Zihuatanejo</a></li>
        <li><a href="/#ofertas">Ofertas</a></li>
    </ul>
</nav>

<script>
    import gsap from "gsap"
    let tl = gsap.timeline({repeat:0})
  tl.from(".logo",
  {
    y:50,
    opacity: 0,
    duration: 1 //1 segundo
  })
  tl.from (".navbar ul li",{
    stagger:0.1,
    y:100,
    opacity: 0,
    duration: 1 
  }, "-=.5")
  
  </script>