---

---

<div id="ofertas">
    <div class="limite">
        <h2>Ofertas de hoteles en Zihuatanejo</h2>
        <p>
            Conoce las <b>ofertas de los hoteles de Zihuatanejo</b> que cada temporada podrás aprovechar para gozar de la playa en tus vacaciones.
        </p>
    </div>
    <div class="bandeja">
        <div class="oferta">
            <img src="https://picsum.photos/1600/600" alt="">
            <div class="bandeja-oferta">
                <h3>Oferta 1 de hoteles en Zihuatanejo</h3>
                <p>Lorem ipsum dolor sit amet. </p>
                <a href="#" class="btnVerde">Ver oferta</a>
            </div>
        </div>
        <div class="oferta">
            <img src="https://picsum.photos/1600/600" alt="">
            <div class="bandeja-oferta">
                <h3>Oferta 2 de hoteles en Zihuatanejo</h3>
                <p>Lorem ipsum dolor sit amet. </p>
                <a href="#" class="btnVerde">Ver oferta</a>
            </div>
        </div>
        <div class="oferta">
            <img src="https://picsum.photos/1600/600" alt="">
            <div class="bandeja-oferta">
                <h3>Oferta 2 de hoteles en Zihuatanejo</h3>
                <p>Lorem ipsum dolor sit amet. </p>
                <a href="#" class="btnVerde">Ver oferta</a>
            </div>
        </div>
        <div class="oferta">
            <img src="https://picsum.photos/1600/600" alt="">
            <div class="bandeja-oferta">
                <h3>Oferta 2 de hoteles en Zihuatanejo</h3>
                <p>Lorem ipsum dolor sit amet. </p>
                <a href="#" class="btnVerde">Ver oferta</a>
            </div>
        </div>
    </div>
</div>