---
export interface Props {
	titulo: string;
	descripcion: string;
}

const { titulo, descripcion } = Astro.props;
import "../estilos/style.scss"
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={descripcion}>
		<title>{titulo}</title>
	</head>
	<body>
    <Nav></Nav>
		<slot />
		<Footer></Footer>
	</body>
</html>


