---
export interface Props {
	titulo: string;
	descripcion: string;
}

const { titulo, descripcion } = Astro.props;
import "../estilos/style.scss"
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.png" />
		<link rel="canonical" href={Astro.url} />	
		<meta name="description" content={descripcion}>
		<title>{titulo}</title>

		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MW6LN95');</script>
	<!-- End Google Tag Manager -->

	</head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRY1V39MZ6"></script>
<script src="../js/analitics.js" />
	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW6LN95"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <Nav></Nav>
	<slot />
	<Footer></Footer>
</body>
</html>


