---
export interface Props {
	titulo: string;
	descripcion: string;
}

const { titulo, descripcion } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={descripcion}>
		<title>{titulo}</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global lang="scss">
//colores
$azul: #13419B;
$naranja: #E76128;
$verde: #4CCBA6;
$gris: #4E4E4E;

//reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
</style>
